:root {
  /* Colors */
  --accent: #00ccff;
  --light: #b8b8b8;
  --dark: #14131e;
  --darker: #05081f;

  --faccent: invert(72%) sepia(67%) saturate(3358%) hue-rotate(0deg)
    brightness(103%) contrast(105%);
  --fdark: invert(77%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(94%)
    contrast(96%);
  --flight: invert(89%) sepia(2%) saturate(15%) hue-rotate(322deg)
    brightness(87%) contrast(81%);

  /* Fonts-Families */
  --font1: "Quicksand";
  --font2: "League Gothic";

  /* Planets Imgs */
  --marsImg: url("/assets/planets/sd/mars-sd.png");
  --moonImg: url("/assets/planets/sd/moon-sd.png");
  --mercuryImg: url("/assets/planets/sd/mercury-sd.png");
  --venusImg: url("/assets/planets/sd/venus-sd.png");

  /* Travel Ship Imgs */
  --marsTripImg: url("/assets/ships/890_Jump_Leaving_Hurston_3.6.png"); /*ok*/
  --moonTripImg: url("/assets/ships/shuttle.jpg"); /*ok*/
  --mercuryTripImg: url("/assets/ships/Mass-Effect-Normandy1.jpg"); /*ok*/
  --venusTrimImg: url("/assets/ships/Royalcruiser.png"); /*ok*/

  /* Effects */
  --accentDropShadow: drop-shadow(0 0px 50px var(--accent));
  --lightDropShadow: drop-shadow(0 0px 50px var(--light));

  /* Structure, padding, margin ... etc */
  --navHeight: 70px;

  /* Animation */
  --transiSlow: 1s cubic-bezier(.13,0,0,1);
  --transiFast: .3s cubic-bezier(0,1,0,1);
  --transiSuperFast: 0.1s cubic-bezier(.3,0,0,1);
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font1);
  background-color: var(--dark);
  color: var(--light);
  height: 100vh;
}

.darkerBg {
  background-color: var(--darker);
}

a {
  text-decoration: none;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0%);
  }
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 200px;
  background-color: var(--darker);
  overflow-y: hidden;
}

.page-title-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 200px;
  background-color: transparent;
  overflow-y: hidden;
}

.page-title h1,
.page-title-booking h1 {
  font-size: 5em;
  font-family: var(--font2);
  color: white;
  animation: var(--transiSlow) 0s 1 slideInTop;
  filter: drop-shadow(0 0px 35px var(--accent));
}



.page-title h4,
.page-title-booking h4 {
  animation: var(--transiSlow) 0s 1 apparition;
  font-size: 1em;
}

nav {
  background-color: var(--darker);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  overflow: hidden;
  top: 0;
  height: var(--navHeight);
  width: 100vw;
  z-index: 5;
}

nav a {
  color: var(--light);
}

.menu a object {
  filter: var(--flight);
  width: 30%;
  height: 30%;
}

nav > ul {
  list-style: none;
  padding: 0;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  width: auto;
  transition: var(--transiFast);
}

.menu a span {
  transition: var(--transiFast);
}

.menu span:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: var(--transiFast);
}

.menu span:hover:after {
  width: 100%;
  background: var(--light);
}

:visited,
:link,
a {
  text-decoration: none;
}

.menu,
.menu li a {
  justify-self: end;
  display: flex;
  justify-content: end;
  align-items: center;
}

.logomenu {
  height: auto;
  width: 2rem;
}

.icon {
  padding-left: 1em;
}

/* -------------planet-nav------------- */

@keyframes rotation360 {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

header.planets-nav {
  color: var(--light);
  background-color: var(--darker);
  filter: var(--accentDropShadow);
  border-bottom: 2px solid var(--accent);
  padding-top: var(--navHeight);
}

header.planets-nav section {
  margin: auto;
  width: clamp(250px, 100vw, 800px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 180px;
  padding: 20px;
}

section div.planet-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 10px;
}

div.planet-nav-item h2 {
  padding-bottom: 10px;
  font-size: 1em;
}

div.planet-nav-item a {
  color: var(--light);
}

div.planet-nav-item a img {
  width: 100px;
  height: 100px;
  transition: var(--transiSlow);
  animation: var(--transiSlow) 0s 1 rotation360;
}

div.planet-nav-item a img:hover {
  width: 135px;
  height: 135px;
  rotate: 90deg;
  filter: drop-shadow(0 0 10px var(--accent));
}

.planet-decoLine {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.planet-decoLine .line {
  background-color: var(--accent);
  width: 90vw;
  height: 2px;
}

@media screen and (max-width: 520px) {
  header.planets-nav section {
    width: clamp(250px, 100vw, 800px);
    height: 150px;
  }

  div.planet-nav-item a img {
    width: 60px;
    height: 60px;
  }

  div.planet-nav-item a img:hover {
    width: 60px;
    height: 60px;
    rotate: initial;
    filter: initial;
  }

  div.planet-nav-item a img:active {
    filter: var(--accentDs);
  }

  .planet-pres-txt h3 {
    max-width: 320px;
    margin: auto;
  }
}

/* --------------------------index ------------------------------ */

#planet-mars-anchor,
#planet-moon-anchor,
#planet-mercury-anchor,
#planet-venus-anchor {
  display: block;
  position: relative;
  top: calc((var(--navHeight) + 42px)*-1);
  visibility: hidden;
}

.main-index {
  display: grid;
  grid-template: repeat(4, 1024px) / 100vw;
}

.planet-pres {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--darker);
  overflow: hidden;
}

.planet-pres-txt {
  z-index: 1;
}

.planet-pres-img {
  position: absolute;
  display: block;
  left: 10vw;
  top: clamp(100px, calc(100vw * 0.5 * 0.7), 200px);
  width: max(100%, 960px);
  filter: var(--lightDropShadow);
  clip: auto;
  margin-bottom: calc(100vh - var(--navHeight));
}

.decoLine {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.decoLine .round,
.planet-decoLine .round {
  background-color: var(--accent);
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.decoLine .line {
  background-color: var(--accent);
  width: 80vw;
  height: 2px;
}

.planet-pres-txt h3 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 10px;
  font-family: var(--font1);
  color: var(--accent);
  font-size: 1em;
  margin: auto;
  padding: 20px;
}

.planet-pres-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planet-pres-title h1 {
  margin-left: clamp(10px, 10vw, 150px);
  font-size: min(clamp(30pt, 20vw, 150pt), 15vw);
  font-family: var(--font2);
  color: var(--accent);
}

.planet-pres-title > span.rectangle {
  background-color: var(--accent);
  width: 10%;
  height: min(clamp(10pt, 10vw, 50pt), 20vw);
  /* margin-left: 50px; */
  opacity: 50%;
  transition: var(--transiSlow);
}

.planet-pres:hover span.rectangle {
  width: 40%;
}

.planet-pres > div > p {
  color: white;
  margin-left: clamp(10px, 10vw, 150px);
  font-size: min(clamp(10pt, 5vw, 20pt), 5vw);
  width: 50vw;
  margin-bottom: 100px;
  margin-top: 20%;
}

.planet-pres-to-travel {
  font-size: min(clamp(10pt, 5vw, 20pt), 5vw);
  font-weight: 900;
  margin-top: 100px;
  padding: 30px;
  
  border: 3px solid white;
  outline: 4px solid var(--accent);
  outline-offset: 5px;
  border-radius: 50px;
  background: linear-gradient(135deg, var(--accent) 0%, white 100%);
  color: var(--darker);
  
  margin-left: clamp(10px, 10vw, 150px);
  
  transition: var(--transiSuperFast);
  transform-origin: center;
}

.planet-pres-to-travel:hover {
  background: linear-gradient(135deg, var(--darker) 0%, var(--accent) 100%);;
  border: 3px solid var(--accent);
  outline: 2px solid white;
  outline-offset: 30px;
  color: white;
  filter: drop-shadow(0 0px 50px white);;
  
  transform: scale(90%);
  cursor: pointer;
}

.planet-pres-to-travel:active {
  background: white;
  transform: scale(85%);
  filter: drop-shadow(0 0px 20px white);
  color: var(--darker);
}

/* -----------------------fin index--------------------------------- */

/* -----------------------debut travel by max------------------------------------------------------------ */



.main-travel {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.travel-pack{
  width: 95%;
  padding: 25px;
  border: 2px solid var(--accent);
  border-radius: 20px;
  margin-bottom: 25px;
  display: block;
}

.travel-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


.travel-txt {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  padding: 15px;
}

.travel-titleGroup {
  text-align: justify;
  padding-bottom: 15px;
  margin-right: 60px;
}

.travel-title {
  padding-bottom: 10px;
  font-family: var(--font2);
  color: var(--accent);
  font-size: 50px;
}

.travel-info {
  width: 95%;
}

.travel-name {
  font-family: var(--font2);
  font-size: 30px;
}
.travel-name, .travel-duration {
  text-align: left;
  padding-bottom: 10px;
}

/* .bookTrip {
  display: block;

  font-family: var(--font1);
  font-size: clamp(5pt, 4vw, 30pt);
  border-style: solid;
  border-radius: 100px;
  background-color: var(--accent);
  font-weight: bolder;
  margin-left: auto;
  width: 150px;
  color: var(--darker);
} */

  .bookTrip {
    display: block;
    font-family: var(--font1);
    font-size: clamp(5pt, 4vw, 20pt);
    text-align: center;

    border: 3px solid white;
    outline: 4px solid var(--accent);
    outline-offset: 5px;
    border-radius: 50px;
    background: linear-gradient(135deg, var(--accent) 0%, white 100%);
    color: var(--darker);

    width: 190px;
    margin-left: auto;
    padding: 15px 25px;
    font-weight: bolder;
    transition: var(--transiSuperFast);
    transform-origin: center;
  }



  .bookTrip:active {
    background: white;
    transform: scale(85%);
    filter: drop-shadow(0 0px 20px white);
    color: var(--darker);
  }


/* 
.bookTrip:hover {
  background-color: var(--darker);
  color: var(--accent);
  border-style: solid;
} */



#mars-pack-anchor,
#moon-pack-anchor,
#mercury-pack-anchor,
#venus-pack-anchor {
display: block;
position: relative;
top: calc((var(--navHeight) + 42px)*-1);
visibility: hidden;
}



@media screen and (min-width: 768px) {

#mars-pack-anchor,
#moon-pack-anchor,
#mercury-pack-anchor,
#venus-pack-anchor {
display: block;
position: relative;
top: calc((var(--navHeight) + 42px)*-1);
visibility: hidden;
}

/*
  .travel-pack {
    position: relative;
    height: calc((100vw / 16 * 6));
    background-color: transparent;
    border: none;
  }
*/
/*
  .travel-img {
    position: absolute;
    left: 0;
    transition: var(--transiFast);
    width: 100%;
    aspect-ratio: 16 / 6;
    object-fit: cover;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
  }
*/

.travel-pack{
  display: flex;
  align-items: center;
  height: 90vh;
  width: 95%;
}
  .travel-img {
    width: 60%;
    height: auto;

  }

  #tLine {
    flex-direction: column;
    padding: 15px;
  }

  #ttline {
    background-color: var(--accent);
    width: 2px;
    height: 500px;
  }

  .travel-title {
    font-family: var(--font2);
    font-size: clamp(10pt, 6vw, 60pt);
    color: var(--accent);
    margin-bottom: 20px;
  }

  .travel-txt {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
    z-index: 1;
    margin: 0;
  }

  .travel-titleGroup {
    text-align: left;
    margin: 0;
  }

  .travel-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .travel-name {
    font-family: var(--font2);
    font-size: clamp(10pt, 5vw, 70pt);
    color: white;
  }

  .travel-duration {
    color: white;
    text-justify: distribute;
    font-family: var(--font1);
    padding-top: 10px;
  }

  .travel-name:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: var(--transiSlow);
  }

  .travel-pack:hover .travel-name:after {
    width: 100%;
    background: white;
  }

  .bookTrip {
    width: min(200px, 60%);
    font-family: var(--font1);
    font-size: clamp(5pt, 4vw, 20pt);
    font-weight: bolder;
    text-align: center;

    border: 3px solid white;
    outline: 4px solid var(--accent);
    outline-offset: 5px;
    border-radius: 50px;
    background: linear-gradient(135deg, var(--accent) 0%, white 100%);
    color: var(--darker);

    width: auto;
    margin: 30px 0 0 0;
    padding: 15px 25px;
    transition: var(--transiSuperFast);
    transform-origin: center;
    margin-left: auto;
  }

  .bookTrip:hover {
    background: linear-gradient(135deg, var(--darker) 0%, var(--accent) 100%);;
    border: 3px solid var(--accent);
    outline: 2px solid white;
    outline-offset: 30px;
    color: white;
    filter: drop-shadow(0 0px 50px white);;
    
    transform: scale(90%);
    cursor: pointer;
  }

  .bookTrip:active {
    background: white;
    transform: scale(85%);
    filter: drop-shadow(0 0px 20px white);
    color: var(--darker);
  }

  .travel-description {
    font-family: var(--font1);
    width: 80%;
    float: left;
    font-size: clamp(7pt, 5vw, 10pt);
    color: white;
    margin-bottom: 20px;
  }
}

/* -----------------------fin travel by max------------------------------------------------------------------ */

.rights {
  padding-right: 0.5em;
}

.image {
  height: 0.8em;
  width: 1em;

}

.address {
  padding-right: 0.5em;
}

footer {
  position: relative;
  background-color: var(--darker);
  color: var(--light);
  width: 100%;
  padding: 23px;

  margin-top: auto;

}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



/*TRAVEL PAGE BOTTOM-------------------------------------------------------------------------------------------------------*/

.bamsystem-rental {
  color: var(--white);
  padding: 15px;
  margin: 80px 0 0 0;
}

@media screen and (max-width: 460px) {
  .menu {
    height: 60%;
    width: 60%;
  }

  footer {
    font-size: 80%;
  }
}

.travel-nav {
  color: var(--white);
  padding: 0;
}

/* CSS spécifique booking.html */

.booking-spacer {
  padding-top: var(--navHeight);
}

form {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation-duration: 4s;
  animation-name: apparition;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  z-index: 2;
  position: relative;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titleform h1 {
  text-align: center;
  opacity: 0;
  animation-duration: 3s;
  animation-name: apparition;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  font-size: 3em;
  font-family: var(--font2);
  color: var(--light);
  filter: drop-shadow(0 0px 35px var(--accent));
}

.welcomeform {
  opacity: 1;
  animation-duration: 2s;
  animation-name: disparition;
  animation-delay: 3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards;
  font-family: var(--font2);
  font-size: 2.5em;
  text-align: center;
}

@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-booking {
  display: flex;
  justify-content: center;
  color: var(--light);
  /* margin-top: 80px; */
  font-family: var(--font1);
  height: calc(100vh - var(--navHeight)*2 - 200px);
  align-items: center;
}

form div {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  margin-top: 13px;
  transition-delay: 5s;
}

form div > label {
  margin-bottom: 7px;
  font-weight: 600;
}

form div > input,
form div > select,
form div > textarea,
input[type="date"] {
  background: var(--light);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

form div > input,
form div > select,
input[type="date"] {
  height: 50px;
  padding-left: 10px;
}

form div > select {
  appearance: none;
  background-size: 15px;
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
}

form div > textarea {
  height: 175px;
  padding: 15px 0px 0px 10px;
  opacity: 0.7;
}

form div > input::placeholder,
form div > textarea::placeholder {
  color: var(--light);
}
form div > input,
form div > select,
form div > #message,
input[type="date"] {
  opacity: 0.7;
  border: 2px solid var(--accent);
}

form div > select:invalid {
  color: var(--light);
}

form div > select option {
  background: var(--light);
  color: var(--dark);
}

form div:last-child {
  align-items: center;
  margin-top: 20px;
}

form button {
  font-size: min(clamp(10pt, 5vw, 20pt), 5vw);
  font-weight: 900;
  margin-top: 20px;
  padding: 20px;
  width: clamp(400px, 50vw, 600px);

  border: 3px solid white;
  outline: 4px solid var(--accent);
  outline-offset: 5px;
  border-radius: 50px;
  background: linear-gradient(135deg, var(--accent) 0%, white 100%);
  color: var(--darker);
  
  transition: var(--transiSuperFast);
  transform-origin: center;
}

form button:hover {
  background: linear-gradient(135deg, var(--darker) 0%, var(--accent) 100%);;
  border: 3px solid var(--accent);
  outline: 2px solid white;
  outline-offset: 30px;
  color: white;
  filter: drop-shadow(0 0px 50px white);;
  
  transform: scale(90%);
  cursor: pointer;
}

form button:active {
  background: white;
  transform: scale(85%);
  filter: drop-shadow(0 0px 20px white);
  color: var(--darker);
}

.date-form {
  margin-top: 28px;
}

input[type="date"] {
  font-family: var(--font1);
  opacity: 0.7;
}

.background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 460px) {
  .booking-form {
    width: 90%;
    align-items: center;
  }

}
/* Rental CSS ----------------------------------------------------- */
#Mars-rental-anchor,
#Moon-rental-anchor,
#Mercury-rental-anchor,
#Venus-rental-anchor {
  display: block;
  position: relative;
  top: calc((var(--navHeight) + 42px)*-1);
  visibility: hidden;
}

.main-rental {
  min-height: 100%;
}

.custom-slider {
  display: none;
}
.slide-container {
  width: 100%;
  position: relative;
  margin: auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.6s ease;
}
.prev {
  left: 15px;
}
.next {
  right: 15px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.slide-text {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.slide-index {
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  position: absolute;
  top: 0;
  font-size: 2em;
}
.slide-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.slide-dot {
  text-align: center;
}

.active,
.dot:hover {
  background-color: #111111;
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------------------------- */
.pack-choice section .backBar {
  height: 30px;
  width: 100vw;
  background-color: var(--accent);
  filter: var(--accentDropShadow);

  position: absolute;
  z-index: -1;
}

.pack-choice {
  display: flex;
  flex-direction: column;
}

.pack-choice section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7px;
  
  background-color: var(--darker);
  border: 2px solid var(--accent);
  border-radius: 20px;
  width: calc(100% - 14px);
}

.pack h2 {
  font-family: var(--font1);
  font-weight: bold;
  color: var(--light);

  padding: 15px 0 5px 0;
}

.pack p {
  color: var(--light);
  padding: 20px 0;
  width: 80%;
}

.pack button {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--darker);

  border: 3px solid white;
  outline: 4px solid var(--accent);
  outline-offset: 5px;
  border-radius: 50px;
  background: linear-gradient(135deg, var(--accent) 0%, white 100%);
  color: var(--darker);

  width: auto;
  margin: 30px 0 0 0;
  padding: 10px 20px;
  font-weight: bolder;
  transition: var(--transiSuperFast);
  transform-origin: center;
}

.pack button:hover,
.pack button:focus {
  background: linear-gradient(135deg, var(--darker) 0%, var(--accent) 100%);;
  outline: 2px solid white;
  outline-offset: 15px;
  transform: scale(90%);
  cursor: pointer;
  filter: drop-shadow(0 0px 50px white);;
  border: 3px solid var(--accent);
  color: white;
}

.pack button:active {
  background: white;
  transform: scale(85%);
  filter: drop-shadow(0 0px 20px white);
  color: var(--darker);
}

.btclogo {
  height: 1.5em;
  width: 1.5em;
  margin-left: 8px;
}

.packprice {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.pack-choice .decoLine {
  padding-bottom: 20px;
}

.pack h2:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.pack:hover h2:after {
  width: 100%;
  background: var(--light);
}

@media screen and (min-width: 768px) {
  .pack-choice section {
    flex-direction: row;
    align-items: stretch;
    width: 100%;
  }
  
  .pack {
    width: 300px;
    aspect-ratio: 1 / 1;
  }
  
  .pack button {  
    background-color: var(--accent);
    filter: var(--accentDropShadow);
    border-radius: 30px;
    cursor: pointer;
  }
}

/*end rental--------*/

/*back to top Button---------*/

@keyframes slideInBottom {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}

.toop {
  height: 80px;
  width: 80px;
}

#myBtn {
  animation: var(--transiSlow) 0s 1 slideInBottom;
  transition: var(--transiSuperFast);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  display: none;
  position: fixed;
  bottom: 54px;
  right: 30px;
  cursor: pointer;
  z-index: 6;

  outline: 0px;
  outline-offset: 0px;
  outline-color: var(--accent);
}

#myBtn:hover {
  transform: scale(120%);
  filter: drop-shadow(0 0 15px white);
}

#myBtn:active {
  transform: scale(90%);
}

/*Button---------*/


/* Planet nav 2*/

.planets-nav2 {
  display: none;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out;
}

.planets-nav2.menu2 {
  display: flex;
  transform: translateY(0);
}

.planets-nav2 {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  display: flex;
  margin-top: var(--navHeight);
  justify-content: center;
  align-items: center;
  background-color: var(--darker);
  transition: top 0.2s ease-in-out;
  z-index: 4;
  border-top: solid var(--accent) 1px;
}

.planets-nav2.is-visible {
  top: 0;
}

.planets-nav2 .planet-nav-item {
  margin-left: 25px;
}

.planets-nav2 .planet-nav-item h2 {
  padding: 0;
}

.planets-nav2 .planet-nav-item:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.planets-nav2 .planet-nav-item:hover:after {
  width: 100%;
  background: var(--light);
}


/* Validation Booking style */


.background-bookingvalidation {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.validation-message {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 13px;
  width: auto;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.validation-booking {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  color: white;
  height: 100vh;
  text-decoration: none;
}


.validationgorental {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validationgorental a {
  font-size: min(clamp(10pt, 5vw, 20pt), 5vw);
  font-weight: 900;
  padding: 20px;
  margin-top: 30px;
  
  border: 3px solid white;
  outline: 4px solid var(--accent);
  outline-offset: 5px;
  border-radius: 50px;
  background: linear-gradient(135deg, var(--accent) 0%, white 100%);
  color: var(--darker);
    
  transition: var(--transiSuperFast);
  transform-origin: center;
}

.titlevalidation {
  margin-bottom: 40px;
}

.validationgorental a:hover {
  background: linear-gradient(135deg, var(--darker) 0%, var(--accent) 100%);;
  border: 3px solid var(--accent);
  outline: 2px solid white;
  outline-offset: 30px;
  color: white;
  filter: drop-shadow(0 0px 50px white);;
  
  transform: scale(90%);
  cursor: pointer;
}

.validationgorental a:active {
  background: white;
  transform: scale(85%);
  filter: drop-shadow(0 0px 20px white);
  color: var(--darker);
}

/* Pop Style */

/* Stylez et fixez le bouton sur la page */
.open-button {
  cursor: pointer;
}
/* Positionnez la forme Popup */
.login-popup {
  position: relative;
  text-align: center;
  width: 100%;
}
/* Masquez la forme Popup */
.form-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-45%, 5%);
  border: 1px solid var(--darker);
  z-index: 9;
  margin-top:10%;
}
/* Styles pour le conteneur de la forme */


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.form-container h2 {
  padding-bottom: 10px 0px 15px 0px;
  color: var(--dark);
  margin-bottom: 10px;
}

/* Largeur complète pour les champs de saisie */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #eee;
  border: 1px solid var(--darker);
}
/* Quand les entrées sont concentrées, faites quelque chose */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  border: 1px solid var(--darker);
  outline: none;
}
/* Stylez le bouton de connexion */
.form-container .btn {
  background-color: var(--accent);
  color: var(--dark);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;

  filter: none;
  outline: none;
  margin-top: 0px;
}

.form-container .btn:hover {
  background: linear-gradient(135deg, var(--darker) 0%, var(--accent) 100%);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  filter: none;
  outline: none;
  outline-offset: none;
  transform: none;
}

.form-container .btn:focus {
  background: linear-gradient(135deg, var(--darker) 0%, var(--accent) 100%);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  filter: none;
  outline: none;
  outline-offset: none;
  transform: none;

}

/* Stylez le bouton pour annuler */
.form-container .cancel {
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
  border: none;
  float: right;
  height: 4px;
  width: 4px;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  outline: none;
  outline-offset: none;
  border-radius: none;
  background: none;
}

.form-container .cancel:hover {
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
  border: none;
  float: right;
  height: 4px;
  width: 4px;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  outline: none;
  outline-offset: none;
  border-radius: none;
  background: none;
}
.form-container .cancel:not(.no-hover):hover {
  color: var(--dark);
  background-color: var(--light);
}


@media screen and (min-width: 768px) {
  .pageName {
    font-size: 80px;
  }
}