:root {

  /* Colors */
  --accent: orange;
  --light: rgb(184, 184, 184);
  --dark: #14131e;
  --darker: #05081f;

/* Fonts-Families */
  --font1: "Quicksand";
  --font2: "League Gothic";

/* Planets Imgs */
  --marsImg: url("/assets/planets/sd/mars-sd.png");
  --moonImg: url("/assets/planets/sd/moon-sd.png");
  --mercuryImg: url("/assets/planets/sd/mercury-sd.png");
  --venusImg: url("/assets/planets/sd/venus-sd.png");

/* Ship Imgs */
  --marsTripImg: url("/assets/ships/jump.jpg");
  --moonTripImg: url("/assets/ships/shuttle.jpg");
  --mercuryTripImg: url("/assets/ships/Royalcruiser.webp");
  --venusTrimImg: url("/assets/ships/normandy.jpg");
  
  /* Effects */
    --accentDs: drop-shadow(0 0px 50px var(--accent));

  /* Structure, padding, margin ... etc */
    --navHeight: 70px;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;

}

body {
  font-family: var(--font1);
  background-color: var(--dark);
  color: var(--light);
}

nav {
  background-color: var(--darker);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  overflow: hidden;
  top: 0;
  height: var(--navHeight);
  width: 100%;
  z-index: 4;
}

nav > h1 > a {
  font-size: clamp(0.5rem,2rem,2rem);
  text-decoration: none;
}

nav > ul {
  list-style: none;
  padding: 0;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  width: auto;
  
}

.menu a span:hover, .menu a:hover {
  color: var(--dark);
  background-color: var(--light);
  border-radius: 15%;
  transition: .3s;
}

:visited, :link, a {
  color: var(--light);
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.logomenu {
  height: 1rem;
  width: 1rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.car {
  padding-left: 1em;
}

.rocket {
  padding-left: 1em;
}

.headerDecoLine {
  /* position: absolute;
  top: 50px;
  left: 20px; */
}

header.planets-nav {
  /* display: flex; */
  justify-content: space-between;
  color: var(--light);
  background-color: var(--darker);
  filter: var(--accentDs);
  border-bottom: 2px solid var(--accent);
  padding-top: var(--navHeight);
}

header.planets-nav section {
  margin: auto;
  width: clamp(400px, 100vw, 800px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 220px;
  padding: 20px;
}

section div.planet-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 10px;
}

div.planet-nav-item h2 {
  padding-bottom: 10px;
}

div.planet-nav-item a:hover {
  transition: .3s ease-in-out;
}

div.planet-nav-item a:hover {
  color: var(--accent);
}

div.planet-nav-item a img {
  width: 100px;
  height: 100px;
  transition: .3s ease-in-out;
}

div.planet-nav-item a img:hover {
  width: 150px;
  height: 150px;
  rotate: 90deg;
  filter: drop-shadow(0 0 20px var(--accent));
}

.main-index {
  display: grid;
  grid-row: repeat(4,100vh);
  margin-top: 80px;
}

.main-index section {
  position: relative;
  overflow: hidden;
  color: var(--white);
  height: 1024px;
}

.planet-pres-img {
  translate: 150px 50px;
  filter: drop-shadow(0px 0px 30px var(--white));
}

#planet-mars {
  background-image: var(--marsImg);
  background-color: var(--dark-grey);
}

#planet-moon {
  background-image: var(--moonImg);
  background-color: var(--dark);
}

#planet-mercury {
  background-image: var(--mercuryImg);
  background-color: var(--blue);
}

#planet-venus {
  background-image: var(--venusImg);
  background-color: var(--brown);
}

.planet-pres {
  background-repeat: no-repeat no-repeat;
  background-position-x: 10vw;
  background-position-y: clamp(100px, calc(100vw*0.5*0.7), 200px);
  background-size: max(100%, 960px);
}

.decoLine {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.decoLine .round {
  background-color: var(--accent);
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.decoLine .line {
  background-color: var(--accent);
  width: 80vw;
  height: 2px;
}

.planet-pres-txt h3 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 10px;
  font-family: var(--font1);
  color: var(--accent);
  font-size: 1em;
}

.planet-pres-title { /*-index- Section Titre*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planet-pres-title h1 { 
  margin-left: clamp(10px, 10vw, 150px);
  font-size: min(clamp(40pt, 30vw, 200pt), 20vw);
  font-family: var(--font2);
  color: var(--accent);
}

.planet-pres-title > span.rectangle {
  background-color: var(--accent);
  width: 50%;
  height: min(clamp(10pt, 10vw, 50pt), 20vw);
  float: right;
  filter: opacity(70%);
}

.planet-pres > div > p { /*-index- Section paragraphe*/
  margin-left: clamp(10px, 10vw, 150px);
  font-size: min(clamp(10pt, 5vw, 20pt), 5vw);
  width: 50vw;
  color: white;
}

.rights {
  padding-right: 0.5em;
}

.image {
  height: 1em;
  width: 1em;
}

.address {
  padding-right: 0.5em;
}

.main-footer {
  background-color: var(--darker);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 23px;
}


/*TRAVEL PAGE TOP*/



.bamsystem-tour {
  color: var(--white);
  padding: 15px;
  margin: 80px 0 0 0;
}

.main-travel {
  display: grid;
  grid-row: repeat(4,100vh);
  margin-top: 80px;
}

.main-travel section {
  position: relative;
  overflow: hidden;
  color: var(--white);
  height: 1024px;
}

#mars-trip {
  background-image: var(--mercuryTripImg);
  background-color: var(--blue);
  padding-top: 80px;
}


/*TRAVEL PAGE BOTTOM*/


.bamsystem-rental {
  color: var(--white);
  padding: 15px;
  margin: 80px 0 0 0;
}
@media screen and (max-width: 460px) {
span.textlogo{
display: none;
  }

  a.car, a.rocket {
    padding: 0.1rem;
  }

}



.travel-nav {
  color: var(--white);
  padding: 0;
}

/* CSS spécifique booking.html */

.main-booking {
  display: flex;
  justify-content: center;
  color: var(--light);
  margin-top: 80px;
}

.contactez-nous {
  width: 700px;
  border: 1px solid;
  border-radius: 8px;
  padding: 0 50px 0 50px;
  background: white;
  }
  
  .contactez-nous > h1 {
  font-weight: 500;
  }
  
  .contactez-nous > p {
  font-weight: 300;
  }
  
  form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 83px;
  margin-top: 25px;
  }
  
  form div > label {
  margin-bottom: 7px;
  font-weight: 600;
  }
  
  form div > input, form div > select, form div > textarea {
  background: #FFD9D9;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, "sans-serif";
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
  }
  
  form div > input, form div > select {
  height: 50px;
  padding-left: 10px;
  }
  
  form div > select {
  appearance: none;
  background-size: 15px;
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  }
  
  form div > textarea {
  height: 195px;
  padding: 15px 0px 0px 10px;
  }
  
  form div > input::placeholder, form div > textarea::placeholder {
  color: white;
  }
  
  form div > select:invalid {
  color: white;
  }
  
  form div > select option {
  background: white;
  color: #303030;
  }
  
  form div:last-child {
  align-items:center;
  margin-top: 20px;
  }
  
  form button {
  width: 450px;
  max-width: 500px;
  height: 60px;
  font-weight: 700;
  font-size: 28px;
  background: white;
  border: rgba(48, 48, 48, 0.5) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  color: #303030;
  }