:root {
  --dark-grey: #151515;
  --grey: #3f3f3f;
  --black: #0e0e0e;
  --blue: #08173e;
  --brown: #2f1e05;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
    background-color: var(--black);
}

nav {
  background-color: #242423;
  color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 70px;
}

nav > h1 > a {
  font-size: 2rem;
  text-decoration: none;
  color: lightgrey;
}
nav > ul {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: lightgrey;
  padding: 0.5em 1em;
}

.menu a:hover {
  color: #242423;
  border-radius: 15%;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logomenu {
  height: 1em;
  width: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.car {
  padding-left: 1em;
}

.rocket {
  padding-left: 1em;
}

.planets-nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

header {
  padding-top: 70px;
}

header.planets-nav img {
  width: 4em;
  height: auto;
}

header > img {
  height: 10%;
}

.planet{
  text-align: center;
  padding: 5vw;
  transition: font-size .5s ease-in-out;
}

.planet:hover {
  font-size: 3rem;
  margin: auto;
}

main {
  display: grid;
  grid-row: repeat(4,1fr);
}

.planet-pres {
  position: relative;
  overflow: hidden;
  color: white;
  height: 1024px;
}

.planet-pres-img {
  translate: 150px 50px;
  filter: drop-shadow(0px 0px 30px white);
}

.planet-pres-txt h1{
  position: absolute;
  top: 100px;
  left: 20px;
  color: white;
  font-size: 5rem;
}

.mars-presentation {
  background-color: var(--dark-grey);
}

.moon-presentation {
  background-color: var(--black);
}

.mercury-presentation {
  background-color: var(--blue);
}

.venus-presentation {
  background-color: var(--brown);
}

.planet-pres-txt p {
  position: absolute;
  font-size: 1.2em;
  top: 250px;
  left: 20px;
  width: 40vw;
}

.rights {
  padding-right: 1em;
}

.image {
  height: 1em;
  width: 1em;
}

.address {
  padding-right: 1em;
}

.main-footer {
  background-color: #242423;
  color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 23px;
}
